.full-table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.full-table .table {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e7e7ed;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.full-table .header {
  align-items: center;
  align-self: stretch;
  background-color: #f9f9fd;
  box-shadow: inset 0px -1px 0px #e7e7ed;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.full-table .cell-7 {
  width: 48px !important;
}

.full-table .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  /* padding-left: 5px; */
  padding-right: 30px;
  justify-content: space-between;
  position: relative;
}

.full-table .cell-8 {
  flex: 1 !important;
  flex-grow: 1 !important;
  max-width: 300px !important;
  min-width: 250px !important;
  width: unset !important;
}

.full-table .cell-9 {
  font-family: var(--header-primary-font-family) !important;
  font-size: var(--header-primary-font-size) !important;
  font-style: var(--header-primary-font-style) !important;
  font-weight: var(--header-primary-font-weight) !important;
  letter-spacing: var(--header-primary-letter-spacing) !important;
  line-height: var(--header-primary-line-height) !important;

}

.full-table .cell-10 {
  flex: 1 !important;
  flex-grow: 1 !important;
  max-width: 150px !important;
  width: 0px !important;
}

.full-table .cell-11 {
  flex: 3 !important;
  flex-grow: 3 !important;
  max-width: 120px !important;
  min-width: 90px !important;
  width: 0px !important;
  display: none;
}

.full-table .cell-12 {
  width: 17rem !important;
}

.full-table .cell-13 {
  font-family: var(--header-primary-font-family) !important;
  font-size: var(--header-primary-font-size) !important;
  font-style: var(--header-primary-font-style) !important;
  font-weight: var(--header-primary-font-weight) !important;
  letter-spacing: var(--header-primary-letter-spacing) !important;
  line-height: var(--header-primary-line-height) !important;
  text-align: center !important;
  max-width: 100px !important;
  min-width: 65px !important;
  align-self: stretch !important;
}


.full-table .cell-14 {
  flex: 1 !important;
  flex-grow: 1 !important;
  max-width: 100px !important;
  min-width: 90px !important;
  width: 0px !important;
}

.full-table .cell-15 {
  flex: 0 !important;
  flex-grow: 0!important;
  max-width: 100px !important;
  min-width: 65px !important;
  width: unset !important;
}

.full-table .cell-16 {
  width: 130px !important;
}

.full-table .icon-left-5 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
  transition: all 0.15s ease !important;
}

.full-table .row-instance {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.full-table .row-2 {
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
  top: unset !important;
  width: unset !important;
}

.full-table .pagination {
  align-items: center;
  align-self: stretch;
  border-color: #e7e7ed;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 66px;
  justify-content: center;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
  width: 100%;
}

.full-table .pagination-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 380px;
  position: relative;
}

.full-table .button-instance {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.full-table .button-2 {
  color: var(--colorsbaseblack) !important;
  margin-top: -1px !important;
}

.full-table .text-wrapper-9 {
  color: var(--colorsbaseblack);
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
