/* Define variables for colors */
:root {
    --primary-bg-color: #007BFF;
    --primary-text-color: white;
    --transparent-white: rgba(255, 255, 255, 0.8);
    --gradient-start: #007BFF;
    --gradient-end: #003366; /* Darker shade for gradient effect */
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    color: var(--primary-text-color);
    padding-top: 50px;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Adding a shadow */
}

h1 {
    font-size: 2.5em; /* Slightly bigger for a clearer title */
    margin-bottom: 20px;
}

.use-tool-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.3em;
    text-decoration: none;
    background-color: var(--primary-text-color);
    color: var(--primary-bg-color);
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a shadow */
}

.use-tool-btn:hover {
    background-color: #0056b3;
    color: var(--primary-text-color);
    transform: scale(1.05);
}

.subtitle {
    font-weight: 300; /* Using the 300 weight as per the Roboto font you linked */
    font-size: 1.5em; /* Slightly bigger for clarity */
    margin-bottom: 20px;
    color: var(--transparent-white);
}

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 400; /* Using the 400 weight for a clearer heading */
}

h2 span {
    border-bottom: 2px solid var(--transparent-white);
}

ol {
    text-align: left;
    max-width: 800px; /* Increased the max width for better spacing */
    margin: 0 auto;
    padding-left: 40px; /* More padding for better spacing */
}

ol li {
    margin-bottom: 20px; /* More margin for better spacing */
    font-size: 1.4em; /* Slightly bigger for clarity */
}

ol li span.icon-1,
ol li span.icon-2,
ol li span.icon-3 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    vertical-align: middle;
    /* Add background-image for each icon or add specific styles as required */
}

.cta {
    margin-top: 60px;
}

body.ethereum-bg {
    background-image: url('/static/images/ethereum-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-light {
    background-color: var(--primary-bg-color);
}

.scroll-indicator {
    padding: 50px 0;
}

.translation-result ul {
    text-align: left;
}
