.response-screen {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}

/* .response-screen .software-engineer-1 {
  align-self: stretch;
  background-color: transparent;
  border: 0;
  color: #1a203d;
  flex: 1;
  flex-grow: 1;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
} */

.contracts .sidebar-2 {
  background-image: url(../../../static/img/chevron-selector-vertical.png) !important;
  height: 18px !important;
  left: unset !important;
  top: unset !important;
  width: 18px !important;
}

.fix-form {
  width: 100%;
}

.response-screen .name-home-color-default-instance {
  background-image: url(../../../static/img/home-02.png) !important;
  left: unset !important;
  top: unset !important;

}

.response-screen .sidebar-3 {
  align-self: stretch !important;
  flex: 0 0 auto !important;

}

.contracts .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
}

.response-screen .design-component-instance-node-6 {
  left: unset !important;
  top: unset !important;

}

.response-screen .sidebar-4 {
  background-image: url(../../../static/img/chevron-selector-vertical.png) !important;
  height: 18px !important;
  left: unset !important;
  top: unset !important;
  width: 18px !important;

}

.response-screen .main-wrap-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f9f9fd;
  border-color: var(--colorsgray-200);
  border-left-style: solid;
  border-left-width: 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;

}

.response-screen .header-container-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--colorsgray-200);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  width: 100%;

}

.response-screen .frame-13 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;

}

.response-screen .header-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  justify-content: center;
  padding: 37px 26px 15px;
  position: relative;

}

.response-screen .text-wrapper-17 {
  color: var(--colorsbaseblack);
  font-family: var(--title-md-font-family);
  font-size: var(--title-md-font-size);
  font-style: var(--title-md-font-style);
  font-weight: var(--title-md-font-weight);
  letter-spacing: var(--title-md-letter-spacing);
  line-height: var(--title-md-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;

}

.response-screen .text-wrapper-18 {
  color: var(--colorsgray-400);
  font-family: var(--body-medium-font-family);
  font-size: var(--body-medium-font-size);
  font-style: var(--body-medium-font-style);
  font-weight: var(--body-medium-font-weight);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;

}

.response-screen .actions {
  align-items: center;
  display: flex;
  gap: 11px;
  padding: 0px 25px 0px 0px;
  position: relative;
  width: 265px;

}

.button-container {
  gap: 20px;
  display: flex;
}

.response-screen .button-10 {
  all: unset;
  align-items: center;
  background-color: var(--colorsbasewhite);
  border: 1px solid;
  border-color: var(--gray-5);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  transition: all 0.15s ease;
  width: 109px;
}

.response-screen .frame-14 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  width: 100%;
  
}

.response-screen .text-wrapper-19 {
  align-self: stretch;
  color: var(--colorsbaseblack);
  flex: 1;
  font-family: var(--body-medium-font-family);
  font-size: var(--body-medium-font-size);
  font-style: var(--body-medium-font-style);
  font-weight: var(--body-medium-font-weight);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;

}

.response-screen .button-11 {
  all: unset;
  align-items: center;
  align-self: stretch;
  background-color: var(--colorsprimary-300);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 0px 18px;
  position: relative;
  transition: all 0.15s ease;

}

.response-screen .text-wrapper-20 {
  align-self: stretch;
  color: var(--colorsbasewhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center vertically */
  font-family: var(--body-medium-font-family);
  font-size: var(--body-medium-font-size);
  font-style: var(--body-medium-font-style);
  font-weight: var(--body-medium-font-weight);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.response-screen .outer-container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 25px;
  padding: 0px 26px;
  position: relative;
  width: 100%;
}

.response-screen .left-container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  /* height: 772px; */
  position: relative;
  overflow: scroll;
  min-height: 100%;
}

.response-screen .contract-details {
  align-items: flex-start;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Use break-word to break long words */
  align-self: stretch;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  height: 50vh;
  position: relative;
  width: 100%;
  
}


.response-screen .AI-feedback {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #0000001a;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  /* flex-grow: 1; */
  height: 80vh;
  gap: 10px;
  position: relative;
  width: 100%;
}

.response-screen .header-5 {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--colorsgray-200);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 12px 15px;
  position: relative;
  width: 100%;
}

.response-screen .text-wrapper-21 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;

}

.response-screen .design-component-instance-node-7 {
  height: 24px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 24px !important;
 
}

.response-screen .form-container-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 0px 15px;
  position: relative;
  width: 100%;
 
}

.response-screen .row-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;

}

.response-screen .form-field-instance {
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  min-width: 175px !important;
  top: unset !important;
  width: unset !important;
}

.response-screen .location-field {
  left: unset !important;
  max-width: 140px !important;
  top: unset !important;
  width: 140px !important;
}

.response-screen .seniority-field {
  left: unset !important;
  max-width: 100px !important;
  top: unset !important;
  width: 100px !important;
}

.response-screen .form-field-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
  width: 100%;
}

.response-screen .form-field-2 {
  flex: 1 !important;
  flex-grow: 1 !important;
  vertical-align: top; /* Align text to the top */
  white-space: normal; /* Allow text to wrap */
  border: 1px solid #ccc; /* Add a border for visual distinction */
  padding: 5px; /* Add some padding for spacing */
  font-family: Arial, sans-serif; /* Specify the font family */
  font-size: 14px; /* Specify the font size */
  color: #333; /* Specify the text color */
  background-color: #fff; /* Specify the background color */
  resize: vertical; /* Allow vertical resizing */
}

.response-screen .form-field-3 {
  align-self: stretch !important;
  color: #1a203d !important;
  vertical-align: top; /* Align text to the top */
  white-space: normal; /* Allow text to wrap */
  border: 1px solid #ccc; /* Add a border for visual distinction */
  padding: 5px; /* Add some padding for spacing */
  font-family: Arial, sans-serif; /* Specify the font family */
  font-size: 14px; /* Specify the font size */
  background-color: #fff; /* Specify the background color */
  resize: vertical; /* Allow vertical resizing */
}



.response-screen .form-field-4 {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  min-width: 175px !important;
  padding: 0px 0px 15px !important;
  top: unset !important;
  width: unset !important;
}



.response-screen .text-wrapper-22 {
  color: #000000;
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.response-screen .body {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
  width: 100%;

}

.response-screen .feedback-cards {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 0px 15px 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 70vh;
}

.response-screen .feedback-frame-instance {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  max-height: 65vh;
  overflow: scroll;
}
.feedback-frame{
  max-height: 65vh;
}

.response-screen .message-padding {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 0px;
  position: relative;
  width: 100%;
}

.response-screen .message-bar {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 15px;
  position: relative;
  width: 100%;
}

.response-screen .ex-use-a-more-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  min-width: 175px;
  position: relative;
}

.response-screen .ex-use-a-more {
  align-self: stretch;
  background: none;
  border: 1px solid;
  border-color: var(--colorsgray-300);
  color: var(--colorsbaseblack);
  flex: 1;
  flex-grow: 1;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1px;
  padding: 5.5px 10px;
  position: relative;
  width: 100%;
}

.response-screen .chatgpt-button {
  height: 27.49px;
  position: relative;
  transition: all 0.15s ease;
  width: 25.62px;
}

.response-screen .response-draft {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #0000001a;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
 
}

.response-screen .preview-for-example {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--colorsgray-200);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  margin-left: -1px;
  margin-right: -1px;
  padding: 15px;
  position: relative;
  width: 100%;

}

.response-screen .this-is-a-preview {
  align-self: stretch;
  color: transparent;
  flex: 1;
  font-family: var(--body-sm-2-0-font-family);
  font-size: var(--body-sm-2-0-font-size);
  font-style: var(--body-sm-2-0-font-style);
  font-weight: var(--body-sm-2-0-font-weight);
  letter-spacing: var(--body-sm-2-0-letter-spacing);
  line-height: var(--body-sm-2-0-line-height);
  position: relative;
  white-space: nowrap;
}

.response-screen .text-wrapper-23 {
  color: #000000;
  font-family: var(--body-sm-2-0-font-family);
  font-size: var(--body-sm-2-0-font-size);
  font-style: var(--body-sm-2-0-font-style);
  font-weight: var(--body-sm-2-0-font-weight);
  letter-spacing: var(--body-sm-2-0-letter-spacing);
  line-height: var(--body-sm-2-0-line-height);
}

.response-screen .text-wrapper-24 {
  color: #0b06ff;
  font-family: var(--body-sm-2-0-font-family);
  font-size: var(--body-sm-2-0-font-size);
  font-style: var(--body-sm-2-0-font-style);
  font-weight: var(--body-sm-2-0-font-weight);
  letter-spacing: var(--body-sm-2-0-letter-spacing);
  line-height: var(--body-sm-2-0-line-height);
}

.response-screen .response-padding {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 18px;
  padding: 20px 15px;
  position: relative;
  width: 100%;
}

.response-screen .response-background {
  align-items: flex-start;
  align-self: stretch;
  background-color: #efeff66e;
  border: 1px solid;
  border-color: var(--colorsgray-200);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.response-screen .to {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.response-screen .text-wrapper-25 {
  font-weight: 700;
}

.response-screen .text-wrapper-26 {
  color: #000000;
  font-family: var(--single-normal-14px-font-family);
  font-size: var(--single-normal-14px-font-size);
  font-style: var(--single-normal-14px-font-style);
  font-weight: var(--single-normal-14px-font-weight);
  letter-spacing: var(--single-normal-14px-letter-spacing);
  line-height: var(--single-normal-14px-line-height);
}

.response-screen .subject {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.response-screen .br {
  color: #000000;
  font-family: var(--single-normal-14px-font-family);
  font-size: var(--single-normal-14px-font-size);
  font-style: var(--single-normal-14px-font-style);
  font-weight: var(--single-normal-14px-font-weight);
  letter-spacing: var(--single-normal-14px-letter-spacing);
  line-height: var(--single-normal-14px-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.response-screen .dear-prospect-name-i {
  align-self: stretch;
  color: #000000;
  font-family: var(--single-normal-14px-font-family);
  font-size: var(--single-normal-14px-font-size);
  font-style: var(--single-normal-14px-font-style);
  font-weight: var(--single-normal-14px-font-weight);
  letter-spacing: var(--single-normal-14px-letter-spacing);
  line-height: var(--single-normal-14px-line-height);
  position: relative;
  
}


.response-screen .button-12 {
  all: unset;
  align-items: center;
  background-color: #27ae60cc;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  position: relative;
  transition: all 0.15s ease;
  width: 113px;
}

.response-screen .frame-15 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0px 10px; /* Added horizontal padding of 10px */
  position: relative;
  width: 100%;
  
}


.response-screen .element-white {
  height: 12px;
  object-fit: cover;
  position: relative;
  width: 12px;

}

/* Add styles for the chatgpt-button class */
.chatgpt-button {
  background-image: url('../../../static/img/chatgpt-button.png'); /* Replace with your image URL */
  background-size: cover; /* Adjust the sizing of the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  color: transparent; /* Make the text transparent so the background image is visible */
  width: 25.62px;
  height: 27.49px;
  border: none; /* Remove any default button border */
  cursor: pointer; /* Add cursor pointer for the button */
  transition: all 0.15s ease;
  position: relative;
}

/* Hover effect for the chatgpt-button */
.chatgpt-button:hover {
  /* Darken the background image using an overlay */
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity (0.2) for darkness */
  transform: scale(1.05); /* Grow the button by 5% on hover */
}

.error {
  border: 2px solid red;
}
