.onboarding {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.onboarding .frame-5 {
  align-items: center;
  align-self: stretch;
  background: linear-gradient(180deg, rgb(249, 249, 253) 0%, rgb(249, 249, 253) 0.01%, rgb(244, 243, 255) 95.83%);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-around;
  max-width: 600px;
  min-width: 600px;
  position: relative;

}

.onboarding .frame-6 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 4px #00000026;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 47px;
  padding: 45px 45px 21px;
  position: relative;
}

.onboarding .text-wrapper-10 {
  color: #000000;
  font-family: var(--body-large-font-family);
  font-size: var(--body-large-font-size);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  margin-bottom: -15px;
}

.onboarding .frame-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 21px;
  position: relative;
}

.onboarding .frame-8 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.onboarding .first-name-field {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 263.5px !important;
}

.onboarding .button-3 {
  align-items: center !important;
  height: 30px !important;
  justify-content: center !important;
  left: unset !important;
  top: unset !important;
}

.onboarding .button-4 {
  margin-bottom: -2px !important;
  margin-top: -2px !important;
}

.onboarding .button-5 {
  margin-top: 3px !important;
}

.onboarding .frame-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 11px;
  padding: 38px 115px 38px 10px;
  position: absolute;
  top: 0;
  width: 299px;
}

.onboarding .frame-9 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.onboarding .img {
  height: 30px;
  position: relative;
  width: 30px;
}

.onboarding .text-wrapper-11 {
  color: var(--colorsbaseblack);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.18px;
  line-height: 22px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.onboarding .DALLE {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  object-fit: contain; /* Use "contain" to maintain image aspect ratio */
  max-height: 100vh; /* Set a maximum height equal to the viewport height */
  width: auto; /* Allow the width to adjust according to the image aspect ratio */
  position: relative;
}
