.enabled-true-status {
  /* align-items: center; */
  /* background-color: #ffffff; */
  /* border: 1px solid;
  border-color: #cdced9;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: column; */
  /* justify-content: center; */
  left: 15px;
  position: relative;
  top: 16px;
}
