:root {
  --body-large-font-family: "Inter-SemiBold", Helvetica;
  --body-large-font-size: 20px;
  --body-large-font-style: normal;
  --body-large-font-weight: 600;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: 25px;
  --body-medium-font-family: "Inter-Medium", Helvetica;
  --body-medium-font-size: 14px;
  --body-medium-font-style: normal;
  --body-medium-font-weight: 500;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 18px;
  --body-sm-2-0-font-family: "Inter-Medium", Helvetica;
  --body-sm-2-0-font-size: 12px;
  --body-sm-2-0-font-style: normal;
  --body-sm-2-0-font-weight: 500;
  --body-sm-2-0-letter-spacing: 0px;
  --body-sm-2-0-line-height: 18px;
  --body-sm-font-family: "Inter-Medium", Helvetica;
  --body-sm-font-size: 12px;
  --body-sm-font-style: normal;
  --body-sm-font-weight: 500;
  --body-sm-letter-spacing: 0px;
  --body-sm-line-height: 16px;
  --chips-font-family: "Inter-Medium", Helvetica;
  --chips-font-size: 14px;
  --chips-font-style: normal;
  --chips-font-weight: 500;
  --chips-letter-spacing: 0px;
  --chips-line-height: 16px;
  --colorsbaseblack: rgba(42, 42, 42, 1);
  --colorsbasewhite: rgba(255, 255, 255, 1);
  --colorsgray-100: rgba(249, 249, 253, 1);
  --colorsgray-200: rgba(236, 236, 238, 1);
  --colorsgray-300: rgba(140, 142, 144, 0.4);
  --colorsgray-400: rgba(87, 89, 91, 1);
  --colorsprimary-100: rgba(244, 243, 255, 1);
  --colorsprimary-200: rgba(223, 222, 255, 1);
  --colorsprimary-300: rgba(77, 74, 234, 1);
  --colorssuccess-100: rgba(234, 253, 238, 1);
  --colorssuccess-200: rgba(20, 113, 41, 1);
  --gray-5: rgba(224, 224, 224, 1);
  --gray-6: rgba(242, 242, 242, 1);
  --header-primary-font-family: "SourceSans Pro-SemiBold", Helvetica;
  --header-primary-font-size: 16px;
  --header-primary-font-style: normal;
  --header-primary-font-weight: 600;
  --header-primary-letter-spacing: 0px;
  --header-primary-line-height: 150%;
  --icons: rgba(217, 217, 217, 1);
  --row-primary-text-font-family: "SourceSans Pro-Regular", Helvetica;
  --row-primary-text-font-size: 14px;
  --row-primary-text-font-style: normal;
  --row-primary-text-font-weight: 400;
  --row-primary-text-letter-spacing: 0px;
  --row-primary-text-line-height: 150%;
  --row-primary-text-semibold-font-family: "SourceSans Pro-SemiBold", Helvetica;
  --row-primary-text-semibold-font-size: 14px;
  --row-primary-text-semibold-font-style: normal;
  --row-primary-text-semibold-font-weight: 600;
  --row-primary-text-semibold-letter-spacing: 0px;
  --row-primary-text-semibold-line-height: 150%;
  --row-secondary-text-font-family: "SourceSans Pro-Regular", Helvetica;
  --row-secondary-text-font-size: 13px;
  --row-secondary-text-font-style: normal;
  --row-secondary-text-font-weight: 400;
  --row-secondary-text-letter-spacing: 0px;
  --row-secondary-text-line-height: 150%;
  --single-normal-14px-font-family: "Inter-Regular", Helvetica;
  --single-normal-14px-font-size: 14px;
  --single-normal-14px-font-style: normal;
  --single-normal-14px-font-weight: 400;
  --single-normal-14px-letter-spacing: 0px;
  --single-normal-14px-line-height: 19.600000381469727px;
  --title-lg-font-family: "Inter-Medium", Helvetica;
  --title-lg-font-size: 36px;
  --title-lg-font-style: normal;
  --title-lg-font-weight: 500;
  --title-lg-letter-spacing: -1px;
  --title-lg-line-height: 46px;
  --title-md-font-family: "Inter-Medium", Helvetica;
  --title-md-font-size: 28px;
  --title-md-font-style: normal;
  --title-md-font-weight: 500;
  --title-md-letter-spacing: 0px;
  --title-md-line-height: 38px;
}
