<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Contract Whisperer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body class="bg-light ethereum-bg">
    <div class="container mt-5">
        <header class="text-center mb-5">
            <h1 class="display-3 mb-3">Smart Contract Whisperer</h1>
            <p class="lead subtitle">Your bridge from complex smart contracts to plain English.</p>
        </header>

        <section class="intro mb-5 text-center">
            <p class="font-weight-bold display-4">Ready to Decrypt Smart Contracts?</p>
        </section>

        <section class="how-to mb-5">
            <h2 class="display-4 mb-3" style="text-align: center;">How It Works</h2>
            <p class="mt-3 lead" style="text-align: center;">
                Contract Whisperer translates the convoluted language of contracts into comprehensible sentences. Perfect for both validation and simple curiosity.
            </p>
            <ol class="mt-4 pl-5">
                <li class="h4"><span class="icon-1"></span> Paste your contract code into our translator.</li>
                <li class="h4"><span class="icon-2"></span> Witness the magic as jargon transforms into clarity.</li>
                <li class="h4"><span class="icon-3"></span> Get insights, understand functions, and evaluate potential dangers of the contract.</li>
            </ol>
        </section>

        <section class="cta mb-5 text-center">
            <a href="/translate" class="btn btn-primary btn-lg use-tool-btn shadow">Dive In & Translate</a>
        </section>

        <footer class="mt-5 text-center text-muted">
            <p>&copy; 2023 Contract Whisperer.</p>
        </footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
